<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher *ngIf="videojuegosFavoritos.length !== 0" slot="fixed" (ionRefresh)="obtenerVideojuegosFavoritos($event)">
    <ion-refresher-content
    pulling-icon="refresh-outline"
    pulling-text="Recargar videojuegos"
    refreshingSpinner="circles"
    refreshingText="Cargando videojuegos..."></ion-refresher-content>
  </ion-refresher>

  <ion-item [routerLink]="['/videojuegos', videojuego.id]" detail="true" button *ngFor="let videojuego of videojuegosFavoritos">
    <ion-thumbnail slot="start">
      <img [src]="videojuego.imagen">
    </ion-thumbnail>
    <ion-label>
      {{videojuego.nombre}}
    </ion-label>
  </ion-item>

  <div *ngIf="error" class="alert alert-warning">
    {{error}}
  </div>

  <div *ngIf="!terminado && !error">
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
