<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/auth/registro']">Regístrate</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="assets/game-controller.png">
  </div>

  <form id="form" #loginForm="ngForm" (ngSubmit)="login()">
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" name="email" placeholder="Correo electrónico" [(ngModel)]="usuario.username" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="password" name="password" placeholder="Contraseña" [(ngModel)]="usuario.password" required></ion-input>
    </ion-item>
    <div *ngIf="error" class="alert alert-danger">
      {{error}}
    </div>
    <ion-button type="submit" [disabled]="loginForm.invalid" expand="block" shape="round">Entrar</ion-button>
  </form>
</ion-content>
