<app-header-modal [nombrePagina]="'Editar contraseña'"></app-header-modal>

<div class="formContainer">
  <form id="form" #formEditarPassword="ngForm" (ngSubmit)="editarPassword()">
    <ion-list ngModelGroup="passwordGroup" #passwordGroupModel="ngModelGroup" appPasswordMatch>
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" name="password" #passwordModel="ngModel" required [(ngModel)]="password"></ion-input>
        <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passwordModel.dirty && passwordModel.valid && !passwordGroupModel.errors"></ion-icon>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Repite contraseña</ion-label>
        <ion-input type="password" name="password2" #password2Model="ngModel" required [(ngModel)]="password2"></ion-input>
        <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="password2Model.dirty && password2Model.valid && !passwordGroupModel.errors"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="formEditarPassword.invalid" color="primary" expand="block">
          Editar contraseña
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
