ion-col {
  line-height: 30px;

  & > img {
    width: 85%;
    border-radius: 70%;
  }
}

ion-img {
  height: 200px;
}

button {
  ion-badge {
    position: absolute;
    top: -0.2rem;
    right: -0.2rem;
    opacity: 0.9;

    & ~ ion-icon {
      margin-right: 1.2rem;
    }
  }
}

.badge-cart {
  position: absolute;
  right: -13px;
  top: 0px;
  border-radius: 75%;
}

a {
  font-size: 25px;
}
