<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let comentario of comentarios">
    <ion-avatar slot="start">
      <img [src]="'http://localhost:8000/img/users/' + comentario.usuario.avatar" alt="">
    </ion-avatar>
    <ion-label>
      <h3>{{comentario.usuario.nickname}}</h3>
      <p>{{comentario.texto}}</p>
    </ion-label>
  </ion-item>
</ion-content>
