<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let comentario of comentarios">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="comentario.usuario.avatar" alt="">
      </ion-avatar>
      <ion-label>
        <h3>{{comentario.usuario.nickname}}</h3>
        <p>{{comentario.texto}}</p>
      </ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="borrarComentario(comentario.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <div *ngIf="error" class="alert alert-warning">
    {{error}}
  </div>
</ion-content>
<ion-item-divider></ion-item-divider>
<ion-item>
  <ion-input placeholder="Comenta aquí" [(ngModel)]="comentario.texto"></ion-input>
  <ion-button (click)="comentar()" color="light">Comentar</ion-button>
</ion-item>
