<ion-header>
  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <img (click)="mostrarActionSheet()" [src]="usuario.avatar">
        </ion-col>
        <ion-col class="ion-text-end">
          <!--<ion-button (click)="mostrarModalEditar()" color="light" size="small">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>-->
          <a (click)="modalEditarPerfil()" color="primary">
            <ion-icon name="pencil-outline"></ion-icon>
          </a>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card-title>
            {{usuario.nombre}} {{usuario.apellidos}}
          </ion-card-title>

            Email: {{usuario.email}} <br>
            Nickname: {{usuario.nickname}} <br>
            Provincia: {{usuario.provincia.nombre}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card-content>
    <ion-button (click)="modalEditarPassword()" class="button-small">Editar contraseña</ion-button>
  </ion-card-content>
</ion-content>
