<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Videojuegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-refresher slot="fixed" (ionRefresh)="recargarVideojuegos($event)">
    <ion-refresher-content
    pulling-icon="refresh-outline"
    pulling-text="Recargar página"
    refreshingSpinner="circles"
    refreshingText="Cargando videojuegos..."></ion-refresher-content>
  </ion-refresher>

  <app-videojuego-card *ngFor="let videojuego of videojuegos" [videojuego]="videojuego"></app-videojuego-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/videojuegos/nuevo']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
