<form (ngSubmit)="editarPassword()">
  <ion-list ngModelGroup="passwordGroup" appEqualPasswords>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" required [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Repeat password</ion-label>
      <ion-input type="password" name="password2" required [(ngModel)]="password2"></ion-input>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block">
        Edit password
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="danger" expand="block" fill="outline" (click)="cancelar()">
        <ion-icon name="arrow-undo" slot="start"></ion-icon>
        Cancel
      </ion-button>
    </ion-col>
  </ion-row>
</form>
