<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="videojuego.usuario.avatar" alt="">
      </ion-avatar>
      <ion-label>
        <h3>{{videojuego.usuario.nombre}}</h3>
        <p>{{videojuego.fechaCreacion}}</p>
      </ion-label>
      <ion-icon slot="end" name="ellipsis-vertical" (click)="showActionSheet()"></ion-icon>
    </ion-item>

    <ion-img [src]="videojuego.imagen"></ion-img>

    <ion-card-header>
      <ion-card-title class="style-nombre-videojuego">{{videojuego.nombre | capitalizeText}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col class="ion-text-center precio">
          {{videojuego.precio | currencyFormat}}
        </ion-col>
        <ion-col class="ion-text-center plataforma">
          {{videojuego.plataforma.nombre}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="style-desc-videojuego">{{videojuego.descripcion | capitalizeText}}</ion-col>
      </ion-row>
    </ion-card-content>

    <ion-footer class="ion-margin">
      <ion-row class="ion-margin">
        <ion-col class="ion-margin-horizontal">
          <button center text-center (click)="addVideojuegoCarro()">
            <ion-icon name="cart"></ion-icon>
            <div>Añadir a carro</div>
          </button>
        </ion-col>
        <ion-col *ngIf="videojuego.mine" class="ion-margin-horizontal">
          <button center text-center [routerLink]="['/videojuegos/edit', videojuego.id]">
            <ion-icon name="create-outline"></ion-icon>
            <div>Editar</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
</ion-content>
